<div class="container-fluid " [ngClass]="{'spinner-overlay' : loader}">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-6">Azure Blob storage File Upload</h1>
      <p class="lead">Azure blob storage file, upload using Angular (frontend) and Expressjs (Backend) using JavaScript v12 SDK. Also, example of
        generation of <a href="https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview">SAS</a>
        after file upload .</p>
    </div>
  </div>




  <!-- <div class="row">

    <div class="col-lg-3 col-md-3">
      <div class="form-label-group">
        <input type="text" id="accountName" class="form-control" placeholder="Account Name" required autofocus>
        <label for="accountName">Account Name</label>
      </div>


    </div>
    <div class="col-lg-3 col-md-3">
      <div class="form-label-group">
        <input type="text" id="containerName" class="form-control" placeholder="Container Name" required autofocus>
        <label for="containerName">Container Name</label>
      </div>


    </div>
    <div class="col-lg-3 col-md-3">
      <div class="form-label-group">
        <input type="email" id="accountKey" class="form-control" placeholder="Account Key" required autofocus>
        <label for="accountKey">Account Key</label>
      </div>


    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-7 col-md-8">
      <app-upload-files (onfileUpload)="uploadFile($event)"></app-upload-files>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
  <div class="row p-3 p-md-5">

    <div class="col-lg-4 card" *ngFor="let file of imageDetails">
      {{file.url}}
      <div *ngIf="!file.url.includes('.mp4')">
        <img class="card-img-top" alt="profile picture" [src]="file.url" style="width: 100%;">
      </div>
      <div *ngIf="file.url.includes('.mp4')">
        <video width="100%" controls>
          <source [src]="file.url" />
        </video>
      </div>


    </div>
  </div>

</div>
<div id="loader" *ngIf="loader">

</div>
