.uploadfilecontainer {
  background-image: url('data:image/svg+xml;utf8,<svg class="bi bi-cloud-upload" viewBox="0 0 16 16" fill="%23057398" xmlns="http://www.w3.org/2000/svg"> <path d="M4.887 6.2l-.964-.165A2.5 2.5 0 1 0 3.5 11H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 12H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 7.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z"/> <path fill-rule="evenodd" d="M5 8.854a.5.5 0 0 0 .707 0L8 6.56l2.293 2.293A.5.5 0 1 0 11 8.146L8.354 5.5a.5.5 0 0 0-.708 0L5 8.146a.5.5 0 0 0 0 .708z"/><path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z"/></svg>');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50%;
  background-color: #f5fcff;
  min-height: 10rem;
  border: 2px dashed #057398;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  position: relative;
  max-height: 16.1rem;
  overflow: auto;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  background: #fafafa;
  border: 1px dotted #999;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  color: #333;
  align-items: center;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img {
  width: 30px;
}
